body{
    background-color: rgb(43, 41, 41);
}


h1{
    color: white;
}

span{
    font-size: 2em;
    color: white;
    font-family: "Helvetica Neue", monospace;

}

.timer {
text-align: center;
display: block;
}

.Menu-button {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.Menu-button button {
    padding: 0.5em;
    margin: 0 0.5em;
    min-width: 80px;
}

    

